{% extends 'base.html' %}
{% block body %}
<h2>{{ the_title }}</h2>


<table border="1" cellspacing="0" cellpadding="5" style="background-color: tan; color: #333;">

    <tr style="background-color: yellow; color: black;">
       {% for title in the_row_titles %} <!--з кортеджу заголовків витягаємо данні -->
    <th>{{ title }}</th>
        {% endfor %}

     </tr>

    {% for log_row in log_data %}
        <tr>
           {% for item in log_row %}
              <td>{{item}}</td>
           {% endfor %}
        </tr>
    {% endfor %}

</table>



{% endblock %}